.questions__general{
  background-color: var(--background-color-light);
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  justify-content: center;
}
.questions__decor-x {
  font-size: 14px;
  height: 38.28px;
  width: 18px;
  margin-bottom: 33px;
}
.questions__accordeon-general{
  max-width: 474px;
}
.questions__title {
  margin-top: 20px;
}
.questions_just-heading {
  font-size: 35px;
  word-wrap: break-word;
}
.questions__for_image {
  margin-bottom: 40px;
  max-width: 478px;
}
.questions__wheat {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 33px;
}
.questions__text {
  color: #614E43;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
}
.question__acc-button{
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  transition: 0.4s;
  background-color: var(--background-color-light);
  font-family:  var(--main-description-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 28.9px;
  word-wrap: break-word;
  text-align: left;
  color: var(--main-light-section-text-color);
  margin-left: -10px;
}
.question__acc-panel{
  padding: 0 18px;
  display: none;
  overflow: hidden;
}