.page-separator {
    display: block;
    width: 100%;
    background-color: var(--background-color-light);
}

.blog {
    background-color: var(--background-color-light);
    padding: 130px 24px 90px 24px;
}

@media (min-width: 1200px) {
    .blog {
        padding: 30px 0 50px;
        
    }
}

.blog__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}

.blog__decor-x {
    color: var(--title-separator-color);
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.4px;
    line-height: 20px;
}

.blog__general-title {
    color: var(--titles-color);
    font-size: 34px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

@media (min-width: 1200px) {
    .blog__general-title {
        font-size: 44px;
        line-height: 48px;
        font-weight: 700;
        letter-spacing: 2px;
    }
}

.seeds-decor {
    width: 120px;
}

.blog-text {
    color: var(--main-light-section-text-color);
    font-family: var(--main-description-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    word-wrap: break-word;
    max-width: 770px;
    vertical-align: baseline;
}

.blog__img {
    height: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* #first-blog-pic {
    margin-top: 0;
}

@media (min-width: 770px) {
    #first-blog-pic {
        margin-top: auto;
    }
} */

.blog__articles-father {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.blog__article--data {
    margin-top: 12px;
    color: var(--main-light-section-text-color);
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    text-align: left;
    text-decoration-style: solid;
    letter-spacing: 1.4px;
}

.blog__article--header {
    margin-top: 20px;
    color: var(--titles-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    word-wrap: break-word;
    text-decoration-style: solid;
}

.blog__article--content {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--main-light-section-text-color);
    font-family: var(--main-description-font);
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    word-wrap: break-word;
    text-decoration-style: solid;
}

.read-more {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .read-more__button {
    background-color:  var(--main-btn-direction-color-light);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    margin: -10px;
} */

.button-text {
    font-family: var(--main-description-font);
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 10px;
    padding: 13px 37px;
    color: var(--main-text-color);
    background-color: var(--main-btn-direction-color-light);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.button-text:hover {
    background-color: var(--main-btn-direction-color-dark)
}

@media (min-width: 770px) {
    .blog__articles-father {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px auto auto auto;
        grid-template-areas: 
        "picture picture picture"
        "date date date"
        "header header header"
        "abstract abstract abstract";
        grid-column-gap: 30px;
        justify-items: flex-start;
        align-items: flex-start;
        margin-bottom: 200px;
        padding-bottom: 50px;
    }
    
    .blog__img {
        grid-area: "picture";
    }

    .blog__article--data {
        grid-area: "date";
    }

    .blog__article--header {
        grid-area: "header";
    }

    .blog__article--content {
        grid-area: "content";
    }
}

    
