.main__schedule-container {
    background-image: url(../img/shedule/mk_backgroundphoto.webp);
    min-height: 600px;
    background-size: cover; 
    background-position: center;
    background-color:  var(--background-color-dark); /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    padding: 125px 53px;
 }
 .main__schedule-title{
     height: 218px;
     color: var(--white-color);
     word-wrap: break-word;
 }
 .schedule-title__text{
     height: 212px;
     font-size: 48px;
     padding-top: 39px;
 }
 .schedule__decor-x{
    color: var(--light-xxx-color);
    font-size: 14px;
}
.main__schedule_wheat{
    height: 32px;
    width: 100px;
    object-fit: contain;
}
.main_schedule-text{
    color: var(--white-color);
    word-wrap: break-word;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 32px;
    font-family:var(--rubik-font);
}
.main__schedule-buttons{
    margin-top: 44px;
    font-family: Rubik, sans-serif;
    font-size: 15.4px;
    line-height: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 20px;
}
.main__schedule-link {
    padding: 17px 50px;
    margin: 10px 0px 10px 0;
}
.main__schedule-link-dark {
    background-color: var(--main-btn-direction-color-dark);
}

.main__schedule-link-dark:hover {
    background-color: var(--main-btn-direction-color-light);
}