.header {
    background-image: url(../img/banner-background.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header__burger {
    display: none;
}

.header__nav {
    padding: 30px 24px;

}

.header__nav-logo {
    width: 103px;
    height: auto;
}

.header__banner {
    padding: 30px 24px;
}

.header__banner-subtitle {
    color: var(--light-xxx-color);
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 1.4285;
    font-weight: 900;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
}

.header__banner-title {
    margin-top: 20px;
    font-weight: 700;
    color: var(--white-color);
    font-size: 58px;
    line-height: 1.1;
    letter-spacing: 0;
}

.header__banner-wheat {
    margin-top: 35px;
}

.header__banner-wheat img {
    width: 120px;
}

.header__banner-info {
    margin-top: 20px;
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--light-brown-color);
    font-family: Rubik, sans-serif;
    word-wrap: break-word;
}

.header__banner-buttongroup {
    margin-top: 80px;
    font-weight: 400;
    font-family: Rubik, sans-serif;
    font-size: 15.4px;
    line-height: 1em;
    letter-spacing: 0;
}

.button-light-green {
    padding: 17px 50px;
    margin: 10px 10px 10px 0;
    border-radius: 30px;
    background-color: var(--main-btn-direction-color-light);
    cursor: pointer;
    transition: 0.5s;
}

.button-dark-green {
    padding: 17px 50px;
    margin: 10px;
    border-radius: 30px;
    background-color: var(--main-btn-direction-color-dark);
    cursor: pointer;
    transition: 0.5s;
}

.header__banner-titleimage {
    margin-top: 50px;
}

.header__banner-titleimage img {

}

