.our-events {
    background: var(--background-color-dark);
    padding: 130px 28px 90px 28px;
}

.our-events__description-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color:  var(--background-color-light);
    max-width: 770px;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 35px 35px 40px 35px;
    background-color: #342924;
    gap: 40px;
}

@media (min-width: 768px) {
    .event {
        padding: 40px;
        flex-direction: row;
    }

    .direction-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (min-width: 991px) {
    .event {
        padding: 60px;
    }
}

.event__description-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event__price {
    font-size: 14px;
    color: var(--text-color-light);
    font-weight: 500;
}

.event__name {
    color: var(--light-xxx-color);
    font-size: 22px;
    font-weight: 500;
}

.event__date {
    font-size: 14px;
    color: var(--text-color-light);
    font-weight: 500;
}

.event__description {
    font-family: 'Rubik', sans-serif;
    line-height: 29px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: var(--text-color-light);
    font-size: 17px;
    margin-bottom: 20px;
}

.event__book-link a {
    padding: 10px 40px;
    font-size: 14px;
}