.contacts {
    background: var(--background-color-dark);
    padding: 70px 28px 90px 28px;
    display: flex;
    flex-direction: column;
}

.contacts__details_point {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/*@media (min-width: 780px){
    .contacts__details_point {
        display: grid;
        grid-template-columns: 100px 300px;
        grid-template-rows: auto auto;
        column-gap: 70px;
        padding-bottom: 20px;
        grid-template-areas: 
        "sidebar main"
        "sidebar main";
    }

    .point-name {
        grid-area: sidebar;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .point-description {
        grid-area: main;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .contacts {
        display: grid;
        grid-template-columns: 470px 477px;
        grid-template-rows: auto auto auto auto;
        column-gap: 30px;
        grid-template-areas: 
        "header sidebar"
        "main sidebar"
        "footer sidebar";
        align-items: center;
    }

    .contacts__intro {
        grid-area: header;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .contacts__details {
        grid-area: main;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .contacts__map {
        grid-area: footer;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        align-self: stretch;
    }
    .contacts__form {
        grid-area: sidebar;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        align-self: stretch;
    }
    
}
*/

.contacts__intro-description {
    font-family: 'Rubik', sans-serif;
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 770px;
    text-align: left;
    display: flex;
}

@media (min-width: 780px) {
    .contacts__details_point {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        margin-bottom: 15px;
        gap: 10px;
        width: 100%;
    }

    .contacts__container {
        display: flex;
        flex-direction: column;
        padding: 30px;
        padding-bottom: 0;
        padding-top: 0;
        /*padding-left: 100px;*/
        width: 50%;
    }

    .point-name {
        width: 40%;
    }

    .contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        padding-left: 100px;
        padding-right: 100px;

    }

    .contacts__form {
        width: 45%;
        /*margin-right: 30px;*/
    }

    .point-description {
        width: 60%;
    }

    .point-description-contacts {
        width: 60%;
    }

}



.point-name {
    font-family: 'Frank Ruhl Libre', serif;
    color: var(--unprimary-text-color);
    line-height: 33px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;

}

.point-description {
    display: flex;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color-light);
    line-height: 28.9px;
    font-size: 17px;
}

.point-description-contacts {
    display: flex;
    font-family: Rubik, sans-serif;
    color: var(--main-text-color);
    line-height: 28.9px;
}

.point-description-contacts:hover {
    color: var(--main-titles-color);
}

.contacts__map {
    margin-top: 25px;
}

.contacts__map_view {
   /* width: 272px;*/
   width: 100%;
    height: 244px;
    padding-top: 25px;
}

@media (min-width: 780px) {
    .contacts__map_view {
        width: 100%;
    }
}

.contacts__form {
    background-color: var(--events-background-color);
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 40px;
    gap: 20px;
}

@media (min-width: 780px) {
    .contacts__form {
        margin-top: 0;
        /*margin-bottom: 30px;*/
    }
}

.contacts__form_input {
    width: 100%;
    height: 50px;
    display: block;
    align-items: center;
    margin: 10px auto 10px auto;
    border: 2px solid var(--border-color-light);
    border-radius: 25px;
    background-color: var(--events-background-color);
}

input::placeholder {
    color: var(--form-placeholder-color);
    text-align: center;
    font-size: 14px;
}

.contacts__form_message {
    width: 100%;
    height: 120px;
    display: block;
    margin: 10px auto 10px auto;
    border: 2px solid var(--border-color-light);
    border-radius: 25px;
    background-color: var(--events-background-color);
}

.contacts__form_button {
    background-color: var(--main-btn-direction-color-light);
    border-width: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: var(--main-text-color);
    font-weight: bold;
    margin-top: 55px;
}

.contacts__form_button:hover {
    background-color: var(--main-btn-direction-color-dark);
}

.contacts__party {
    display: flex;
    flex-direction: column;
    background: var(--background-color-dark);
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    


}

.contacts__party_details_intro {
    text-align: center;
    padding-bottom: 40px;
}

.contacts__party_container_day {
    padding-top: 20px;
}

@media (min-width: 780px) {
    .contacts__party_container_day {
        padding-top: 0;
    }
}

.contacts__party_day,.contacts__party_hour,.contacts__party_minute,.contacts__party_second {
    text-align: center;
}

.contacts__party_countdown {
    background-color: var(--events-background-color);
    font-family: 'Rubik', sans-serif;
    /*color: var(--main-text-color);*/
    color: var(--unprimary-text-color);
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    align-self: center; 
}

@media (min-width: 780px) {
    .contacts__party_countdown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
    }

}

.contacts__party_container_subtitle {
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color-light);
}

.contacts__party_advert {
    width: 100%;
    align-self: center;
    display: flex;
    margin-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: 780px) {
    .contacts__party_advert {
        width: 50%;
    }
}