.customers-gallery {
  display: flex;
  justify-content: space-between;
  height: 303px;
  overflow: hidden; 
  position: relative;
}

.customers-gallery__btn {
  position: absolute;
  border: none;
  border-radius: 50%;
  background: var(--background-color-dark);
  cursor: pointer;
  width: 24px;
  height: 24px;
  opacity: 0.7;
  transition: 0.5s;
}
.customers-gallery__btn:hover {
  opacity: 1;
}
.customers-gallery__btn-prev {
  top: 45%;
  left: 10px;
}
.customers-gallery__btn-next {
  top: 45%;
  right: 10px;
}
.customers-gallery__arrow {
  display: block;
  margin: auto;
  font-size: 15px;
  color: var(--text-color-light);
}
.customers-gallery__arrow-back {
  padding-left: 6px;
} 

@media (min-width: 780px) {
  .customers-gallery__btn {
    width: 26px;
    height: 26px;
  }
  .customers-gallery__arrow {
      font-size: 24px;
  }
}

 .customers-gallery__img {
  height: 303px;
  overflow: hidden;
} 

.customers-gallery__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @media (min-width: 767px) {
  .customers-gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .customers-gallery__img {
    flex: 50%;
    height: 450px;
  }
}

@media (min-width: 991px) {
  .customers-gallery__images {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .customers-gallery__img {
    flex: 20%;
    height: 280px;
    width: 250px;
  }
} */

.customers-gallery-photo1 {
  object-position: 29% 0;
}

.customers-gallery-photo2 {
  object-position: 49% 0;
}

.customers-gallery-photo3 {
  object-position: 0 61%;
}

.customers-gallery-photo4 {
  object-position: 0 97%;
}

.customers-gallery-photo5 {
  object-position: center;
}

/* .customers-gallery__img {
  padding: 0px 0px 93% 0px;
  overflow: hidden;
  position: relative;
}
.customers-gallery__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.customers-gallery-photo1 {
  object-position: 29% 0;
}
.customers-gallery-photo2 {
  object-position: 38% 0;
}
.customers-gallery-photo3 {
  object-position: 0 61%;
}
.customers-gallery-photo4 {
  object-position: 0 86%;
}
.customers-gallery-photo5 {
  object-position: center;
} */