.customers-gallery__img {
  padding: 0px 0px 93% 0px;
  overflow: hidden;
  position: relative;
}
.customers-gallery__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.customers-gallery-photo1 {
  object-position: 29% 0;
}
.customers-gallery-photo2 {
  object-position: 38% 0;
}
.customers-gallery-photo3 {
  object-position: 0 61%;
}
.customers-gallery-photo4 {
  object-position: 0 86%;
}
.customers-gallery-photo5 {
  object-position: center;
}