.page-separator {
    display: block;
    width: 100%;
    background-color: var(--background-color-light);
}

.brewery-gallery {
    background: var(--background-color-dark);
    padding: 130px 24px 90px 24px;
}

@media (min-width: 1200px) {
    .brewery-gallery {
        padding: 50px 0 110px;
    }
}

.brewery__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}

.brewery__decor-x {
    color: var(--light-xxx-color);
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.4px;
    line-height: 20px;
}

.brewery__general-title {
    color: var(--white-color);
    font-size: 34px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

@media (min-width: 1200px) {
    .brewery__general-title {
        font-size: 44px;
        line-height: 48px;
        font-weight: 700;
        letter-spacing: 2px;
    }
}

/* .seeds-decor img {
    width: 120px;
} */

.brewery-text {
    color: #f4eee1;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    word-wrap: break-word;
    max-width: 770px;
    vertical-align: baseline;
}

.brewery-gallery__images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brewery-gallery__img {
    width: 250px;
}