.page-separator {
    display: block;
    width: 100%;
    background-color: var(--background-color-light);
}

.brewery-gallery {
    background: var(--background-color-dark);
    padding: 130px 24px 90px 24px;
}

@media (min-width: 1200px) {
    .brewery-gallery {
        padding: 50px 0 110px;
    }
}

.brewery__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}

.brewery__decor-x {
    color: var(--main-titles-color);
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.4px;
    line-height: 20px;
}

.brewery__general-title {
    color: var(--main-text-color);
    font-size: 34px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

@media (min-width: 1200px) {
    .brewery__general-title {
        font-size: 44px;
        line-height: 48px;
        font-weight: 700;
        letter-spacing: 2px;
    }
}

/* .seeds-decor img {
    width: 120px;
} */

.brewery-text {
    color: var(--background-color-light);
    font-family: var(--main-description-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    word-wrap: break-word;
    max-width: 770px;
    vertical-align: baseline;
}

.brewery-gallery__images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brewery-gallery__img {
    width: 250px;
}
/* Ivan */

.historym__main{
    background-color: var(--background-color-light);
}
.history__info__content{
    padding-top: 50px;
}
.history__info__separator{
color: rgb(150,90,28);
}
.history__title{
    font-size: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Frank Ruhl Libre;
}
.history__info__content {
    display: flex;
    align-content: center;
}
.history__component__first{
    font-family: rubik;
    color: #261d17;
    font-size: 20px;
    padding-bottom: 30px;
}
.seeds-decor__picture{
padding-bottom: 20px;
}

.history__component__second{
    font-family: rubik;
    color: #aa7c5a;
    font-size: 17px;
    line-height: 30px;
}

.history__discriprion{
    font-family: rubik;
    color:#aa7c5a;
    font-size: 17px;
    margin-top:50px;
    line-height: 30px;
    margin-left: 40px;
}
.brewery__today {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 40px;
}
.signature__img {
    max-width: 55px;
    max-height: 65px;
    margin-left: 40px;
    margin-top: 50px;
}
.signature {
    display: flex;
}
.signature__John_Cliff{
    margin-left: 30px;
    margin-top: 70px;
    font-style: italic;
    color: #aa7c5a;
    font-size: 25px;
   font-weight: bold;
}
.history__dates__container {
    display: flex;
    justify-content: center;
}
.history__info__item {
    margin: 35px 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info__number{
    font-size: 60px;
    color:rgb(44,133,54);
    font-weight: bold;
}
.info-description{
    margin-top: 25PX;
    font-family: rubik;
    color: #614e44;
    font-size: 15px;
}
.discover__beer {
    background-color: var(--background-color-dark);
    color: antiquewhite;
}
.events__separator{
    color:rgb(248,184,3);
    margin-top: 50px;
    margin-bottom: 20px;

}
.events__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events__tittle {
    font-size: 45px;
    margin-bottom: 20px;
}
.events__discription {
    margin-top: 15px;
    font-size: 22px;
    margin-bottom: 40px;
}
.events__gallery__image {
    width: 250px;
}
}
.events__gallery__slider {
    display: flex;
}
.events__gallery {
    display: flex;
}