.our-events {
    background: var(--background-color-dark);
    padding: 140px 28px 90px 28px;
}

@media (min-width: 780px) {
    .our-events {
        padding: 100px 33px 90px 33px;
    }
}

.our-events__description-text {
    font-family: var(--main-description-font);
    font-weight: 200;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: var(--background-color-light);
    max-width: 770px;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 40px 40px 45px 40px;
    background-color: var(--events-background-color);
    gap: 40px;
}

@media (min-width: 780px) {
    .event {
        padding: 60px;
        flex-direction: row;
    }

    .direction-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
}

.event__photo {
    align-self: stretch;
}

.event__photo img {
    height: 100%;
    object-fit: cover;
}

.event__description-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 780px) {
    .event__description-block {
        padding: 50px 0;
    }
}

.event__price {
    font-size: 14px;
    color: var(--text-color-light);
    font-weight: 500;
}

.event__name {
    color: var(--main-titles-color);
    font-size: 22px;
    font-weight: 500;
}

.event__date {
    font-size: 14px;
    color: var(--text-color-light);
    font-weight: 500;
}

.event__description {
    font-family: var(--main-description-font);
    line-height: 29px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: var(--text-color-light);
    font-size: 17px;
}

.event__book-link {
    padding: 10px 40px;
    font-size: 14px;
}