.bestsellers {
    background-color: var(--background-color-dark);
    padding: 90px 5px;
}
.bestseller {
    display: flex;
    flex-direction: column;
}
@media (min-width: 780px) {
    .bestseller {
        flex-direction: row;
    }
}
.bestseller__decor-seeds {
    padding: 0px 0px 10px 0px;
    margin-left: -7%;
}
.bestseller__general-title {
    margin: 20px 0px 25px 0px;
}
.bestseller__subtitle {
    color: var(--white-color);
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0px 15px 0px;
}
.bestseller__title {
    color: var(--light-xxx-color);
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding: 10px 0;
}
.bestseller__title-ipa {
    color: var(--bestseller-title-ipa);
}
.bestseller__text {
    color: var(--text-color-light);
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.6px;
    padding: 5px 0;
}
.bestseller__decor-x {
    font-weight: 700;
}
.bestseller__content {
    padding: 0px 10px;
    margin: 50px 0px 0px 0px;
}
.bestseller__info {
    display: flex;
    flex-direction: column;
    margin: 25px 0px 90px 0px;
}
.info__item:not(:last-child) {
    margin: 0px 0px 16px 0px;
}
.info__title {
 color: var(--background-color-light);
 font-size: 14px;
 font-weight: 600;
 padding: 0px 0px 8px 0px;
}
.info__text {
    color: var(--white-color);
    font-weight: 700;
    font-size: 22px;
}

